/* ======RESET CSS======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}


a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.contain{
  padding-left: 4rem;
  padding-right: 4rem;
}

.top-page{
  display: inline-block;
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 8px;
  background-color: #385984;
  border-radius: 50%;
  visibility: hidden;
}

.top-page a{
  display: block;
}
.top-page img{
  width: 22px;
  height: 22px;
}

.activeBtnTop{
  visibility: visible;
}