/* ======RESET CSS======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}


a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.contain{
  padding-left: 4rem;
  padding-right: 4rem;
}