/* HEADER */

.section-header{
  min-height: 800px;
  background-image: url('../img/rocket-1.svg'), url('../img/background.svg');
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom right;
  background-clip: border-box;
  overflow: hidden;

  margin-bottom: -1%;
}

.logoFap{
  padding:1rem 1rem;
}

.holder{
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin: 5rem 5rem 5rem 6rem;
}

.holder::after{
  position: absolute;
  top: -90px;
  content: '';
  width: 580px;
  height: 550px;
  background-image: url('../img/polygon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logoSBC img{
  width: 11rem;
}

.more{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.date-and-address{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  margin: 1.5rem 0;
  font-size: 1rem;
}

.date-and-address > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.date-and-address p, .date-and-address a{
  width: 100%;
}


.text-purple{
  color: #7E57C2;
  font-weight: 700;
}

.btn{
  display: block;
  padding: 1rem 3.5rem;
  background-color: #385984;
  color: #ffff;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.btn:hover{
  filter: brightness(0.9);
  transition: 0.2s;
}

.btn-more{
  margin: 1.5rem 0;
}

.social-media{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-media a img{
  width: 32px;
}

.text-blue{
  color: #385984;
}

/* ######################## */


/* SEÇAO TIMELINE */

.section-timeline{
 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #385984 70%,#385984 20% );
}

.steps{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1.8rem;
  gap: 3rem;
}

.steps li {
  text-align: center;
  color: #fff;
}

.steps li p {
  padding: 1.5rem 0;
}

.scheldule{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.scheldule h2{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.scheldule-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  font-weight: 600;
}

.contain-time{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.scheldule-row-1{
  align-self: flex-end;

  padding-right: 15.5rem;
}

.scheldule-row-2{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.scheldule-row-2 .divider{
  height: 500px;
  width: 1px;
  background-color: #FAFCFF;
  margin: 0 30px;
}

.scheldule-row-2 .col-1, .scheldule-row-2 .col-2{
  width: 440px;
}

.scheldule-row-2 .col-1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
}

.scheldule-row-3{
  align-self: flex-end;
  padding-right: 11.5rem;
}

.time{
  width: 120px;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;

}

.hour-09, .hour-10, .hour-12, .hour-14, .hour-20{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hour-09{
  background-image: url('../img/times/time_9.svg');
}
.hour-10{
  background-image: url('../img/times/time_10.svg');
}
.hour-12{
  background-image: url('../img/times/time_12.svg');
}
.hour-14{
  background-image: url('../img/times/time_14.svg');
}
.hour-20{
  background-image: url('../img/times/time_20.svg');
}

.start, .warm-up, .competition, .lunch, .closing{
  display: flex;
  align-items: stretch;
}

.start img, .lunch img, .closing img, .warm-up img, .competition img{
  background: #7E57C2;
 
  padding: 10px;
}

.start img, .lunch img, .closing img{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.warm-up img, .competition img{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
 
}

.start span, .lunch span, .closing span, .warm-up span, .competition span{
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
}

.start span, .lunch span, .closing span{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.warm-up span, .competition span{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
 
}

.timeline{
  display: none;
}


/* ############################## */


/* SECTION PLACE */

.section-place{
 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #385984 5%, #7E57C2 99.58%);
}

.contain-place{
  padding-top: 4rem;
}

.contain-place h2{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.map-place{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.cards-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

.address, .contact{
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: #fff;
  color: black;
}

.sub-address{
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.cards-contact p{
  line-height: 1.8;
}

/* mapa */

.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width: 500px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:500px;
  border-radius: 0.5rem;
}

.sponsorship{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  justify-content:center;
  justify-items: center;

  margin-top: 3.75rem;
  padding-bottom: 1.5rem;
}

.shape-fill {
  fill: hsl(261, 37%, 44%);
}


/* ############################# */

/* SECTION FOOTER  */

.section-footer{
  text-align: center;
}

.section-footer h2{
  font-size: 2rem;
}

.footer-img{
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.organitation img{
  width: 9.3rem;
}
