@media screen and (max-width: 1080px){
  html{
    font-size: 93.75%;
  }
/*====HOME====*/
  .section-header{
    min-height: calc(60vh + 80px);
    background-image: url("/assets/img/background-resopnsive-home.svg");
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, bottom right;
    background-clip: border-box;
    overflow: hidden;
    margin-bottom: -1%;
    width: 100%;
  }
  .container-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .holder{
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    gap: 1rem;
   }
  .holder p{
    max-width: 90%;
  }

  .date-and-address{
    margin: 1rem 0;
  }

  #btn-more{
    margin-top: 4rem;
  }
  .holder::after{
    top: -70px;
    width: 535px;
    height: 510px;    
  }

  /*====TIMELINE====*/
  
  .scheldule-row-1, .scheldule-row-3 {
    padding-right: 9.2rem;
  }

  .scheldule-row-2 .divider{
    margin: 0 10px ;
  }

  .start, .warm-up, .competition, .lunch, .closing {
    width: 15rem;
  }

  .steps{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1.8rem;
    gap: 3rem;

    justify-content: center;
    align-items: center;
  }
  
  .steps li {
    text-align: center;
    color: #fff;
    
    width: 307px;
    max-height: 325px;

    margin-top: 3rem;
    padding-top: 1rem;

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.116);
  }
  
  .steps h3, .steps p{
    max-width: 280px;
    margin-inline: 10%;
  }

  /*====FOOTER====*/
#svg-footer{
  margin-top: -1%;
}
}

@media screen and (max-width: 965px){
  html{
    font-size: 87.5%;
    width: 100vw;
    overflow-x: hidden;
  }
/* SECTION PLACE */
.holder::after{
  top: -70px;
  width: 545px;
  height: 520px;    
}
.map-place{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.cards-contact{
  gap: 2rem;
}

/*===TIMELINE===*/
/* .timeline{
  display: flex;
  justify-content: center;
}
.timeline img{
  height: 730px;
  width: 710px;

  transition: ease, all 0.5;
} */

.contain-time{
  gap: 0.3rem;
}

.scheldule-items{
  width: 720px;
}
.scheldule-row-2{
  width: 720px;
}
.scheldule-row-1, .scheldule-row-3 {
  padding-right: 8.6rem;
}

.scheldule-row-2 .divider{
  height: 300px;
}

.start, .warm-up, .competition, .lunch, .closing {
  width: 14rem;
}

.hour-09, .hour-10, .hour-12, .hour-14, .hour-20 {
  font-size: 0.8rem;
  width: 80px;
  height: 80px;
}

.start img, .lunch img, .closing img, .warm-up img, .competition img {
  padding: 0 5px;
}
.start span, .lunch span, .closing span, .warm-up span, .competition span {
  padding: 0.5rem;
}
/*====FOOTER====*/
#svg-footer{
  margin-top: -1%;
}
}

@media screen and (max-width: 725px){
  .holder::after{
    width: 100px;
    height: 550px;
  }

  .holder p{
    text-align: center;
    max-width: 100%;
  }
  /*===TIMELINE===*/

.contain-time{
  gap: 0.3rem;
}

.scheldule-items{
  width: 720px;
}
.scheldule-row-2{
  width: 720px;
}


.start, .warm-up, .competition, .lunch, .closing {
  width: 14rem;
}

.hour-09, .hour-10, .hour-12, .hour-14, .hour-20 {
  font-size: 0.8rem;
  width: 80px;
  height: 80px;
}

.start img, .lunch img, .closing img, .warm-up img, .competition img {
  padding: 0 5px;
}
.start span, .lunch span, .closing span, .warm-up span, .competition span {
  padding: 0.5rem;
}

/*====MAP====*/
.gmap_canvas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapouter{
  display: flex;
  max-width: 300px;
}
.gmap_canvas iframe{
  max-height: 300px;
  max-width: 310px;
}
/*====FOOTER====*/
#svg-footer{
  margin-top: -1%;
}
}

@media screen and (max-width: 655px){
  .contain{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .scheldule{
    display: none;
  }
  .timeline{
    display: flex;
    justify-content: center;
  }
  .timeline img{
    height: 500px;
    width: 130%;
    
    transition: ease, all 0.5;
  }

  .date-and-address{
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .holder{
    margin: 6rem 0 5rem ;
  }
  .holder p{
    text-align: justify;
  }
}

@media screen and (max-width: 425px){
  html{
    min-width: 100vw;
    min-width: 100%;
  }
  .holder::after{
    width: 100px;
  }

  .steps li{
    width: 280px;
  }
    /*===TIMELINE===*/
/* .scheldule{
  display: none;
}
.timeline{
  display: flex;
  justify-content: center;
} */
.timeline img{
  height: 400px;
  width: 330px;
  
  transition: ease, all 0.5;
}


.gmap_canvas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmap_canvas iframe{
  max-height: 250px;
  max-width: 260px;
}

}
