/* ======RESET CSS======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.container{
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* HEADER */

.section-header{
  min-height: calc(100vh + 80px);
  background-image: url('../img/rockte.svg'), url('../img//background-1.svg');
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom right;
  background-clip: border-box;
  overflow: hidden;
}

.logoFap{
  padding:1rem 1rem;
}

.holder{
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin: 5rem 5rem 5rem 6rem;

}

.holder::after{
  position: absolute;
  top: -90px;
  content: '';
  width: 550px;
  height: 525px;
  background-image: url('../img/polygon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logoSBC img{
  width: 11rem;
}

.more{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-and-address{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 1.5rem 0;
  font-size: 1rem;
}

.text-purple{
  color: #7E57C2;
  font-weight: 700;
}

.btn-more{
  display: block;
  width: 200px;
  padding: 1rem 3rem;
  background-color: #385984;
  color: #ffff;
  border-radius: 2rem;
  font-size: 1rem;
  text-align: center;
  margin: 1.5rem 0;
}

/* ######################## */


/* SEÇAO TIMELINE */

.section-timeline{
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #385984 70%,#385984 20% );
}

.steps{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1.8rem;
  gap: 3rem;
}

.steps li {
  text-align: center;
  color: #fff;
}

.steps li p {
  padding: 1.5rem 0;
}

.scheldule{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scheldule h2{
  color: #fff;
}

.scheldule-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}

.contain-time{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.scheldule-row-1{
  align-self: flex-end;

  padding-right: 232px;
}

.scheldule-row-2{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.scheldule-row-2 .divider{
  height: 500px;
  width: 1px;
  background-color: #FAFCFF;
  margin: 0 30px;
}

.scheldule-row-2 .col-1, .scheldule-row-2 .col-2{
  width: 440px;
}

.scheldule-row-2 .col-1{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.scheldule-row-3{
  align-self: flex-end;
  padding-right: 166px;
}



.time{
  width: 120px;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;

}

.hour-09, .hour-10, .hour-12, .hour-14, .hour-20{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hour-09{
  background-image: url('../img/times/time_9.svg');
}
.hour-10{
  background-image: url('../img/times/time_10.svg');
}
.hour-12{
  background-image: url('../img/times/time_12.svg');
}
.hour-14{
  background-image: url('../img/times/time_14.svg');
}
.hour-20{
  background-image: url('../img/times/time_20.svg');
}

.start, .warm-up, .competition, .lunch, .closing{
  display: flex;
  align-items: stretch;
}

.start img, .lunch img, .closing img, .warm-up img, .competition img{
  background: #7E57C2;
 
  padding: 10px;
}

.start img, .lunch img, .closing img{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.warm-up img, .competition img{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
 
}

.start span, .lunch span, .closing span, .warm-up span, .competition span{
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 10px 40px 10px 10px;
}

.start span, .lunch span, .closing span{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.warm-up span, .competition span{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
 
}


/* ############################## */


/* SECTION PLACE */

.section-place{
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #385984 5%, #7E57C2 99.58%);
}

.contain-place{
  padding-top: 1.25rem;
  color: #fff;
}

.contain-place h2{
  text-align: center;
}

.map-place{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.info-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address, .contact{
  border: 1px solid black;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: #fff;
  color: black;
}

.info-contact p{
  line-height: 1.8;
}

/* mapa */

.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width: 500px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:500px;
  border-radius: 0.5rem;

}


.sponsorship{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  justify-content:center;
  justify-items: center;

  margin-top: 3.75rem;
  padding-bottom: 1.5rem;
}

.grid-item{
  width: 9.5rem;
  height: 9.5rem;
  background-color: #FAFCFF;

}

.shape-fill {
  fill: hsl(261, 37%, 44%);
}


/* ############################# */

